*{
	font-family: verdana;
	margin: 0;
}
header{
	background-color: #111;
	color: #fff;
	padding: 10px;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	background-color: #bbb;
}
nav{
	background-color: #bbb;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	display: inline;
	text-transform: uppercase;
}
.menu ul li a{
	text-decoration: none;
	color: #222;
	padding: 10px;
	border-bottom: #33c solid 3px;
	display: inline-block;
}
.menu ul li a:hover{
	color:#fff;
	background-color: #44f;
}
footer{
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	margin: 30px 0;
	text-align: center;
	padding: 10px;
}
figure{
	display: inline-block;
	background-color: #222;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	opacity: 0.8;
}
figure:hover{
	opacity: 1;
}
figure figcaption p{
	color:#fff;
}
section{
	text-align: center;
}
body{
	background-color: #666
}
.fot{
	height: 240px;
	width: 240;
}
table, tr, th, td{
	border: solid 1px #000;
}
table{
	margin: 40px auto;
	min-width: 60%;
}
th, td{
	padding: 8px 8px
}
th{
	background-color: #777;
}
.par{
	background-color: #999;
}
.dia{
	text-align: left;
}
.th{
	border-bottom: solid #000;
	padding: 10px;
}
.grupo{
	width: 80%;
	margin: 0 auto;
	font-weight: bold;
	margin-top: 10px;
}
legend{
	font-weight: bold;	
}
.formulario{
	margin: 8px;
}
.esquerda{
	width: 20%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
.direita{
	width: 70%;
	display: inline-block;
	text-align: left;
}
.btn{
	background-color: #fff;
	color:#000;
	margin: 10px 30px;
	font-weight: bold;
	padding: 3px 20px;
	border-radius: 10px;
}
.btn:hover{
	background-color: #000;
	color: #fff;
}